
@{
    ViewData["Title"] = "CurrencyChange";
}

<h2>CurrencyChange</h2>

<div>
    <label>Amount: </label>
    <input type="text" name="amount" value="" />
</div>
<div>
    <select>
        <option value="1">USD</option>
        <option value="2">EUR</option>
        <option value="3">AUD</option>
        <option value="4">JPY</option>
    </select>
</div>
<div>
    <button>Change</button>
</div>
<div>
    <input type="text" name="name" value="" /> <label>VND</label>
</div>

<script>

</script>
